{% extends "main/layout.html" %}


{% block title %}{{ create }}{% endblock %}


{% block content %}

<div class="features">
    
    {% if user.is_authenticated %}

        <form method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                <h1>{{ create }}</h1>
                {{ form.name_news }} <br>
                {{ form.anons }} <br>
                {{ form.full_text }} <br>
                {{ form.data_create }} <br>
                {{ form.author_id }}
                <button class="button" type="submit">Добавить статью</button> <br>
        </form>

    {% else %}
        <h1>Если хотите добавить статью сначала авторизуйтесь!!!</h1>
        <a href="{% url 'user:login' %}"><button class="button">Войти</button></a>
    {% endif %}

</div>


{% endblock %}