{% extends "registration/auth_user.html" %}


{% block title %}Войти{% endblock %}


{% block auth %}



<div class="features">
    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}
    <h1>Вход</h1>

    <form method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button" type="submit">Войти</button> 
    </form> 
    <div class="link_auth">
        <a href="{% url 'user:register' %}" >Нету аккаунта? Зарегестрироваться</a> <br>
        <a href="{% url 'user:password_reset' %}">Забыли пароль? Сбросить</a>
    </div>
</div>



{% endblock %}