body{
    background: #2c2c2c;
}

aside{
    position: fixed;
    float: left;
    background: darkcyan;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: floralwhite;
    border-right: 5%, solid, black;
    z-index:1;
    border: 1px solid black;
}

aside img{
    width: 80px;
    border-radius: 100px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    color: darkgrey;
    top: 10px; 
}

aside h3{
    margin-top: 50px;
    font-size: 30px;
    color: darkgrey;
}

aside ul{list-style: none;}

aside ul li{
    color: darkgrey;
    display: block;
    margin-top: 20px;
    transition: transform .1s ease;
}

aside ul li:hover, aside ul a:hover{
    color: cyan;
    text-decoration: none;
    transform: scale(1.1);
}

main .features{
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: 20%;
}

main .features h1 {
    font-size: 50px;
    color: #cacaca;
    margin-bottom: 5%;
}

main .features p {mask-size: 400px;
    margin: 20px auto;
    color: #cacaca;
}

.button {
    text-align: center;
    color:rgb(210, 255, 247); 
    background-color: rgb(72, 72, 72);
    transition: transform .2s ease;
    border-radius: 20px;
    border:none;
    margin-top: 3%;
}

.button:hover{
    background-color: rgb(0, 191, 191);
    transform: scale(1.1);
    color: #2c2c2c;
} 


main .news_text {
    height: 15%;
    width: 85%;
    position: relative;
    margin-right: 10%;
    background-color: darkcyan;
}

main div div.news_text{
    margin-right: 5%;
}


main .alert{
    float: left;
    clear: both;
    width:94%;
    text-align: left;
    background-color: darkcyan;
}

main .alert h3{
    font-size: 21px;   
    height: 100%;
    line-height: 1.25;
    padding: 0;
    text-align: center;
}

main .alert p{
    text-align: center;
}

main form{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 5%;
}

main form .form-control{
    background-color: #4a4a4a;
    box-shadow: 0 0 0 1000px #4a4a4a inset !important;
    outline: none;
}

main form .button_delite{
    margin-right: 5.6%;
}

main a button.button_chanel{
    margin-top: 10%;
}

main div a button.button{
    position: relative;
    margin-left: 4%;
    right: 2%;
}

body div  {
    float: right;
    position: relative;
    margin-top: 1%;
    margin-right: 1%;
}

body form.search_form{
    position: relative;
    width: 20%;
    height: 50px;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

body form.search_form input{
    background-color: #4a4a4a;
    box-shadow: 0 0 0 1000px #4a4a4a inset !important;
    outline: none;
    color: white;
    border-radius: 20px;
    width: 80%;
}


main div.page_num{
    position: relative;
    width: 100%;
    height: 5%;
    margin-top: 5%;
}

main div.page_num a button.page_move {
    position: relative;
    clear: both;
    background-color: aqua;
    height: 5%;
    border-radius: 20px;
}

main div.page_num a button.page_num{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 20px;

}

main div.page_num a button.page_num_disabled{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: darkcyan;
    border-radius: 20px;

}